<div class="text-center mb3">
        <h1 class="mt-4">Welcome To Admin Panel</h1>
        <p class="lead mb-3">Welcome <%= user.name %>
                <%= user.email %>
        </p>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>

<div class="row mt-5">
        <div class="col-md-6 m-auto">
                <div class="card card-body">
                        <%- include('./partials/messages.ejs') %>
                        <form action="/admin/items" enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                        <label for="name">Item Name</label>
                                        <input
                                            type="name"
                                            id="name"
                                            name="name"
                                            class="form-control"
                                            placeholder="Enter Item Name"
                                            value="<%= typeof name != 'undefined' ? name : '' %>"
                                        >
                                </div>
                                <div class="form-group">
                                        <label for="price">Item Price</label>
                                        <input 
                                        type="number" 
                                        id="price" 
                                        name="price"
                                        class="form-control" 
                                        placeholder="Enter Item Price"
                                        value="<%= typeof price != 'undefined' ? price : '' %>">
                                </div>
                                <div class="form-group">
                                        <label for="stock">Quantity</label>
                                        <input 
                                        type="number" 
                                        id="reqStock"
                                        name="reqStock" 
                                        class="form-control" 
                                        placeholder="Enter Item Quantity"
                                        value="<%= typeof reqStock != 'undefined' ? reqStock : '' %>">
                                </div>
                                <div class="form-group">
                                        <label for="stock">Enter Item Image</label>
                                        <input 
                                        type="file" 
                                        id="image"
                                        name="image" 
                                        class="form-control" 
                                        placeholder="Enter Item Image">
                                </div>
                                <button type="submit" class="btn btn-success btn-block">
                                        Register
                                </button>
                        </form>
                        
                </div>
        </div>
</div>
<table class = "table table-striped tabel-primary">
        <thead>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Quantity Available</th>
                <th>Description</th>
        </thead>
        <tbody>
                <%if (allItems.length>0){ %>
                        <% allItems.forEach(function(row){ %>
                                <tr>
                                        <td>
                                                <%= row.name %>
                                        </td>
                                        <td>
                                                <%= row.price %>
                                        </td>
                                        <td>
                                                <%= row.reqStock %>
                                        </td>
                                        <td>
                                                <img src="<%= row.imgUrl%>" width="300" height="200">
                                        </td>
                                </tr>
                                <% })}else{ %>
                                        <tr>
                                                <td colspan="6">No Record Found</td>
        
                                        </tr>
                                        <% } %>
        </tbody>
</table>