<h1 class="mt-4">Welome to user panel</h1>
<p class="lead mb-3">Welcome <%= user.name %>
        <%= user.email %>
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<table class="table table-striped tabel-primary">
        <thead>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Quantity Available</th>
                <th>Description</th>
                <th>Buy Item</th>
        </thead>
        <tbody>
                <%if (allItems.length>0){ %>
                        <% allItems.forEach(function(row){ %>
                                <tr>
                                        <td>
                                                <%= row.name %>
                                        </td>
                                        <td>
                                                <%= row.price %>
                                        </td>
                                        <td>
                                                <%= row.reqStock %>
                                        </td>
                                        <td>
                                                <img src="<%= row.imgUrl%>" width="300" height="200">
                                        </td>
                                        <td>
                                                <button class="btn btn-primary">Add to Cart</button>
                                        </td>
                                </tr>
                                <% })}else{ %>
                                        <tr>
                                                <td colspan="6">No Record Found</td>

                                        </tr>
                                        <% } %>
        </tbody>
</table>